@model ITUniver.TeleCalc.Web.Models.CalcModel
 
@{
    ViewBag.Title = "Вычислятор-Помогатор";
}



@using (Html.BeginForm("Exec", "Calc", FormMethod.Post, new { @id = "calc-form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Вычислятор</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.opername, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.opername,
                    Model.OperationList,
                    htmlAttributes: new { @class = "form-control",
                        oninput = "calculate();" })
                @Html.ValidationMessageFor(model => model.opername, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InputData,
                        htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(
                    model => model.InputData,
                    "Collection",    /*явное использование шаблона*/
                    new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            oninput = "calculate();",
                            style = "display:inline-block; margin-left:5px; margin-top:5px; height: 30px; width: 20%;"
                        }
                    })
                @Html.ValidationMessageFor(model => model.InputData, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="result">
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function calculate() {

        var xElement = $('input[name=InputData]').last();
        if (xElement.val().endsWith(" ")) {
            var newInput =
                $("<input class=\"form-control text-box single-line\" name=\"InputData\" oninput=\"calculate();\" type=\"text\" value=\"\" style = \"display:inline-block; margin-left:5px; margin-top:5px; height: 30px; width: 20%;\">");
            newInput.insertAfter(xElement);
            newInput.focus();
        }
        setTimeout(function _post() {
            $.ajax({
                method: "POST",
                url: "/Calc/Exec",
                data: $('form').serializeArray()
            }).success(
            function (result) {
                $("#result").html(result);
            }
            )
        }, 5000);
    }
</script>@*Отправка с практики*@
@*<script>
 inputY.onchange = function () {
    document.getElementById('calc-form').submit();
}
</script> @*отправка при потери фокуса на inputY*@